#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: beige;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.packages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.package-card {
  flex: 1 1 200px; /* växer, krymper, grundstorlek */
  border: 5px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
}
.package-card.delivered {
  background-color: #44ea6a;
}

.package-card.on-the-way {
  background-color: #c3b9c0;
}

.package-card.ready-for-pickup {
  background-color: #f7f746;
}

/*teststil för verifiering krävs*/
.verification-required{
  color: red;
  font-weight: bold;
}